<form>
  <h2 mat-dialog-title>{{title}}</h2>
  <div mat-dialog-content>
    <mat-form-field class="full-width">
      <input matInput type="text" placeholder="任务内容">
    </mat-form-field>

    <mat-radio-group>
      <mat-radio-button *ngFor="let priority of priorities" [value]="priority.label">
        {{priority.label}}
      </mat-radio-button>
    </mat-radio-group>

    <mat-form-field class="full-width">
      <input matInput type="text" [matDatepicker]="dueDatepicker" placeholder="任务截止日期">
      <mat-datepicker-toggle matSuffix [for]="dueDatepicker"></mat-datepicker-toggle>
    </mat-form-field>
    <mat-datepicker #dueDatepicker></mat-datepicker>

    <mat-form-field class="full-width">
      <input matInput type="text" [matDatepicker]="reminderDatepicker" placeholder="提醒日期">
      <mat-datepicker-toggle matSuffix [for]="reminderDatepicker"></mat-datepicker-toggle>
    </mat-form-field>
    <mat-datepicker #reminderDatepicker></mat-datepicker>

    <mat-form-field class="full-width">
      <input matInput type="text" placeholder="任务内容">
    </mat-form-field>
  </div>

  <div mat-dialog-actions>
    <button type="button" mat-raised-button color="primary">保存</button>
    <button type="button" mat-button mat-dialog-closed>关闭</button>
  </div>
</form>